.login{
    margin-top: 8%;
    margin-left: 35%    ;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
   
}


.login-page{
    /* background-image: url("https://t4.ftcdn.net/jpg/04/33/95/95/240_F_433959577_W4kCZhvP9dVePoP83H5uUBicItF8W1Ds.jpg"); */
    background-repeat: no-repeat;
    /* background-size: 300vh; */
    background-image: url('../../../assets/login/shopping-cart-with-wooden-elements.jpg');
    background-size: 100%;

}

.footer{

    /* display: inline-block; */
    /* position: fixed; */
    margin-top: 14%;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    /* margin-bottom: -5px; */
    /* margin-top: 90%; */
}
#logname{
    margin-left: 42%;
    font-family: cursive;
    color: indigo;
}


