@font-face {
    font-family: 'MyFont';
    src: url('../../../../assets/doom-eternal-font/EternalAncient-8MXeg.ttf');
  }
 .heading{
    font-family:'MyFont' ;
    color: #3D1766;
 } 

.toggles{
    display: flex;
    justify-content: space-evenly;
}

.cimage{
    height: 30vh;
}

.search{
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.header{
    background-color: mediumspringgreen;
}

.head{
    
    display: flex;
    justify-content: space-between;
}

/* .template{
    justify-content: end;
} */

.row{
    display: flex;

    justify-content: space-evenly;
    align-content: stretch;
}

.card{
    border: 0px;
  }