@font-face {
    font-family: 'MyFont';
    src: url('../../../../assets/doom-eternal-font/EternalAncient-8MXeg.ttf');
  }


.cimage{
    
    height: 20vh ;
}
.heading{
    /* font-family :'Times New Roman', Times, serif; */
    color: #3D1766;
    font-family :'MyFont';
}

.search{
    display: flex;
    justify-content:end;
    cursor: pointer;
}

.header{
    background-color:mediumspringgreen;
   
}

.sitename{
    display: flex;
    /* justify-content: end; */
}

.head{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;

    justify-content: space-evenly;
    align-content: stretch;
}

.card{
    border: 0px;
  }