<div class="foot">
    <div class="header ps-3 pe-3">
        <div class="head">
        <h1 class="sitename">E-com <i class="fa fa-shopping-bag" aria-hidden="true"></i></h1>
        <app-canvas></app-canvas>
        </div>
        <div class="nav-search search">
            <!-- <h5 class="signout text-danger  me-3 " (click)="signout()">signout &nbsp; <i class="fa fa-sign-out mt-1"
                 aria-hidden="true"></i> </h5> -->
            <div class="">
            <input type="text" class="col-sm-2 form-control" [(ngModel)]="term" placeholder="Search for products">
            <!-- <Button class="btn btn-outline-dark ">Search</Button> -->
            </div>
        </div>
        <h1 class="text-center text-warning heading">Cosmetics <i class="fa fa-hand-o-left text-primary"
                aria-hidden="true"></i></h1>
    </div>
    <div class="row ps-5 text-center container-fluid">
        <div *ngFor="let cos of cosdata | filter : term" class="group  col-2 m-5">
            <div class="">
                <div class="card ms-2">
                    <img src={{cos.img}} class="card-img-top cimage" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">  {{cos.brand}}</h5>
                        <!-- <p class="card-text">
                            <select name="" id="" class="form-select" ngModel>
                                <option value="">select color</option>  
                                <option value="{{color}}" *ngFor="let color of shoe.color" >{{color}}</option>
                            </select>
                        </p> -->
                        <p class="card-text"><strong>₹ {{cos.price}}</strong>  </p>
                        <button class="btn btn-outline-dark" (click)="clickedcosmetic(cos)">
                            add to cart
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
